@font-face {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("/assets/fonts/OpenSans-Regular.ttf") format("truetype");
}
@font-face {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url("/assets/fonts/OpenSans-Medium.ttf") format("truetype");
}
@font-face {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url("/assets/fonts/OpenSans-SemiBold.ttf") format("truetype");
}
@font-face {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url("/assets/fonts/OpenSans-Bold.ttf") format("truetype");
}
@font-face {
    font-family: "Open Sans";
    font-style: italic;
    font-weight: 400;
    font-display: swap;
    src: url("/assets/fonts/OpenSans-Italic.ttf") format("truetype");
}
@font-face {
    font-family: "Open Sans";
    font-style: italic;
    font-weight: 700;
    font-display: swap;
    src: url("/assets/fonts/OpenSans-BoldItalic.ttf") format("truetype");
}
